.venv/
src/__pycache__/
.mypy_cache/
.env
Additional/
JNotebooks/
config/my_keys.py
path.txt
config/__pycache__/my_keys.cpython-313.pyc
src/utils/numerolog.py
logs/*.log
generator_stucture.py
project_structure.txt
output/
Numerolog_free.code-workspace
technical_requirements.md
utils/__pycache__
