defusedxml==0.7.1
fonttools==4.56.0
fpdf==1.7.2
fpdf2==2.8.2
Jinja2==3.1.6
loguru==0.7.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
pathlib==1.0.1
pdfkit==1.0.0
pillow==11.1.0
Pygments==2.19.1
rich==13.9.4
types-fpdf2==2.8.2.20241223
