:root {
  --star-width: 2380px;
  --star-height: 3368px;
  --font-color-main: rgb(230, 223, 210);
  --font-color-error: rgb(39, 25, 21);
  --font-color-mission: rgb(255, 105, 58);
  --font-color-footer: rgb(227, 221, 208);
}

/* Основной контейнер */
.star {
  position: relative;
  width: var(--star-width);
  height: var(--star-height);
}

/* Заголовок */
.header_font {
  position: absolute;
  width: 962px;
  height: 141px;
  left: 709px;
  top: 120px;

  color: var(--font-color-main);
  font-family: Roboto;
  font-size: 120px;
  font-weight: 600;
  line-height: 141px;
  text-align: left;
}

/* Главный контейнер с числами */
.main {
  position: relative; /* Обязательно указать relative для корректного позиционирования */
  width: 100%;
  height: 100%;
}

/* Общие стили для всех чисел */
.main span {
  position: absolute;
  font-family: Roboto;
  text-align: center;
}

/* Стили для основных чисел */
.personality,
.spirituality,
.money,
.relationship,
.health {
  font-size: 140px;
  font-weight: 700;
  line-height: 164px;
  color: var(--font-color-main);
  opacity: 0.98;
}

/* Стили для ошибок */
.pat_male_line_err,
.mat_male_line_err,
.pat_female_line_err,
.doom_err,
.mat_female_line_err {
  font-size: 100px;
  font-weight: 500;
  line-height: 117px;
  color: var(--font-color-error);
}

/* Стиль для миссии */
.mission {
  font-size: 160px;
  font-weight: 600;
  line-height: 188px;
  color: var(--font-color-mission);
}

/* Стиль для нижних элементов */
.foot_personality,
.foot_spirituality,
.foot_money,
.foot_relationship,
.foot_health {
  font-size: 180px;
  font-weight: 400;
  line-height: 211px;
  color: var(--font-color-footer);
}

/* Применение координат через атрибут data-coords */
[data-coords] {
  position: absolute;
}

/* Установка координат для каждого элемента */
.personality { left: 352px; top: -2028px; }
.spirituality { left: 1136px; top: -2604px; }
.money { left: 1921px; top: -2028px; }
.relationship { left: 1607px; top: -1112px; }
.health { left: 666px; top: -1112px; }
.pat_male_line_err { left: 957px; top: -2012px; }
.mat_male_line_err { left: 1327px; top: -2012px; }
.pat_female_line_err { left: 1430px; top: -1660px; }
.doom_err { left: 1148px; top: -1450px; }
.mat_female_line_err { left: 837px; top: -1660px; }
.mission { left: 1096px; top: -1790px; }

.foot_personality { left: 737px; top: -493px; }
.foot_spirituality { left: 947px; top: -493px; }
.foot_money { left: 1157px; top: -493px; }
.foot_relationship { left: 1347px; top: -493px; }
.foot_health { left: 1557px; top: -493px; }