:root {
  --pifagor-width: 2380px;
  --pifagor-height: 3368px;
  --font-color-main: rgb(230, 223, 210);
}

/* Основной контейнер */
.pifagor {
  position: relative;
  width: var(--pifagor-width);
  height: var(--pifagor-height);
}

/* Контейнер с цифрами */
.main {
  position: relative;
  width: 1844px;
  height: 1687px;
  left: 268px;
  top: 846px;
}

/* Заголовок */
.header_font {
  position: absolute;
  width: 962px;
  height: 141px;
  left: 709px;
  top: 120px;
  color: var(--font-color-main);
  font-family: Roboto;
  font-size: 120px;
  font-weight: 600;
  line-height: 141px;
  text-align: center;
}

/* Стили для чисел */
.number {
  position: absolute;
  font-family: Roboto;
  font-size: 120px;
  font-weight: 400;
  line-height: 141px;
  text-align: center;
  color: var(--font-color-main);
  opacity: 0.98;
}
